.modal-header, h4, .close {
		background-color: #286090;
		color: white !important;
		text-align: center;
		font-size: 20px;
	}
	.help-block{
	 color: red;
	 /*display: none;*/
	}
	.form-group.has-error .form-control-label {
	  color: red;
	}
	.form-group.has-error .form-control {
	  border: 1px solid red;
	  box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
	}
	
	.alertify .ajs-dialog {
	    top: 50%;
	    transform: translateY(-50%);
	    margin: auto;
	}
	
	.ajs-header{
		background-color: #286090 !important;
		color: white !important;
		/*text-align: center;*/
		font-size: 18px;
		font-weight: bold;
	}
	.ajs-ok{
		color: #fff;
	    background-color: #007bff;
	    border-color: #007bff;
	}
	.ajs-cancel{
		color: #fff;
	    background-color: #dc3545;
	    border-color: #dc3545;
	}
	.btn-primary{
	background-color: #286090 !important;
	}
	.dataTables_length, .dataTables_info{
		display: none;
	}
	.modal-lg, .modal-xl {
		max-width: 900px;
		max-height: 800px;
	}
	
	.form-control-feedback2 {
	  margin:1px;
	  position: absolute;
	  padding: 10px;
	  pointer-events: none;
	  background-color: #e9ecef;
	  border-style: none;
	}
	.form-control-feedback3 {
	  margin:1px;
	  position: absolute;
	  margin-left:225px;
	  padding: 10px;
	  pointer-events: none;
	  background-color: #e9ecef;
	  border-style: none;
	}
	.form-control {
	  padding-left: 40px!important;
	}
	.btn-nuevo{
    width: 100%;
	}
	
	
	
	
