<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Proyecto CarWash</title>
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
	<link rel="stylesheet" th:href="@{/resources/alertify	js/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 
	<link rel="stylesheet" th:href="@{/resources/css/mantenimiento.css}"> 
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
 </head>
</head>

<body>
<!-- ============= Home Section =============== -->
<div class="d-flex flex-row ">
    <div th:replace="~{plantilla/UITemplate :: cabecera}"></div>

<!-- ============= Fin Home Section =============== -->

<div class="container">
	<div class="d-flex flex-row  align-items-center">
	    <div class="table-container  ">
			<h2 style="text-align: center;">Detalle boleta</h2>
	        <table class="table">
	            <thead>
	                <tr>
	                    <th scope="col">Nro. Boleta</th>
	                    <th scope="col">Nombre </th>
	                    <th scope="col">Apellido</th>
	                    <th scope="col">Servicio</th>
	                    <th scope="col">Categoria</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <th scope="row">123344</th>
	                    <td>Maria</td>
	                    <td>Gonzales</td>
	                    <td>Lavado</td>
	                    <td>Plata</td>
	                </tr>
	               </tbody>
	        </table>
	        <div class="form-group" style="text-align: left;">
		    	<button type="button" class="btn btn-outline-secondar">
		        	<i class="fas fa-shopping-cart"></i> Generar Venta
		    	</button>
			</div>
	    </div>
	
	    <div  class="form-container" style="width: 40%; margin: 0 auto;">
	        <form>
				<h2 style="text-align: center;">Boleta</h2>
				<br>
		        <div class="form-group" style="text-align: right;">
		    		<button type="button" class="btn btn-outline-secondar">
		        		<i class="fas fa-search"></i> BUSCAR DATOS CLIENTE
		    		</button>
				</div>
		        <div class="form-group">
		             <label for="nombre">Nombre:</label>
		             <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese su nombre" required>
		        </div>
		        <div class="form-group">
		             <label for="apellido">Apellidos:</label>
		             <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Ingrese su apellido" required>
		         </div>
		         <div class="form-group">
		             <label for="correo">Correo electrónico:</label>
					 <input type="email" name="correo" id="correo" class="form-control" placeholder="Ingrese su correo electrónico" required>
		         </div>
		          <div class="form-group">
		              <label for="servicio">Servicio:</label>
		               <select name="servicio" id="servicio" class="form-control">
		                    <option value="opcion1">Selecciona</option>
		                    <option value="opcion1">Lavado</option>
		                    <option value="opcion2">Pintado</option>
		                     <option value="opcion3">Pulido</option>
		                     <option value="opcion4">Encerado</option>
		                </select>
		           </div>
		           <div class="form-group">
		                    <label for="categoria">Categoría:</label>
		                    <select name="categoria" id="categoria" class="form-control">
								<option value="opcion1">Selecciona</option>
		                        <option value="opcion1">Plata</option>
		                        <option value="opcion2">Gold</option>
		                        <option value="opcion3">Premiun</option>
		                        <option value="opcion3">Basico</option>
		                    </select>
		            </div>
		            <div class="form-group">
		    			<label for="pago">Pago:</label>
		    			<div class="input-group">
		        			<input type="number" name="pago" id="pago" class="form-control" placeholder="Ingrese el monto en soles" required>
		        		</div>
		    		</div>
		    		<div class="form-group" style="text-align: right;">
		    			<button type="button" class="btn btn-outline-secondar">
		        			<i class="fas fa-plus"></i> Agregar
		    			</button>
					</div>
	              </form>
	        </div>
	</div>
</div>
	<!-- index js-->
<script type="text/javascript">
    $(document).ready(function(){
        //jquery for toggle sub menus
        $('.sub-btn').click(function(){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        });

    });
</script>
	<!-- fin index js-->
	
<script src="https://kit.fontawesome.com/8f3aaeb06e.js" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	
</body>
</html>