<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Proyecto CarWash</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
	<link rel="stylesheet" th:href="@{/resources/alertify	js/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}">
	<link rel="stylesheet" th:href="@{/resources/css/mantenimiento.css}">

	<style media="screen">
		/* General Styles */
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: "Poppins", sans-serif;

		}
		body {
			background: #EEEEEE;
		}

		.tipo-container {
			display: flex;
			overflow-x: auto;
		}

		.tipo-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 0 0 auto;
			margin-right: 30px;
			text-align: center;
		}

		.tipo-item img {
			width: 110px;
			height: 110px;
			border-radius: 50%;
			margin-bottom: 10px;
			border: 2px solid #090542;
		}

		.custom-card {
			border-radius: 15px;

		}

		.custom-card img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}



		img {
			max-width: 100%;
			height: auto;
		}

		.head-mavbar-menu {
			margin-left: 130px;
		}

		.head-mavbar-menu img {
			height: 30px;
			width: 30px;
		}

		.head-mavbar-menu li {
			color: #000 !important;
			padding: 0px 20px;
			font-size: 18px;
		}

		.custom-table {
			border: 1px solid black;
			/* Borde exterior */
		}

		.custom-table th,
		.custom-table td {
			border: none;
			/* Elimina el borde interno */
			padding: 8px;
			/* Ajusta el relleno según sea necesario */
		}

		.custom-table thead tr th {
			border-bottom: 1px solid black;
			/* Añade el borde inferior solo para las celdas de encabezado */
		}
	</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>
	<!-- CABECERA INICIO-->
	<header>
		<div th:replace="~{plantilla/UITemplate :: cabecera}"></div>
	</header>
	<!-- CABECERA FIN-->

	<div class="container">

		<h3 class="text-center mt-4">LISTA DE COMPRAS</h3>
		<div class=" mt-2">
			<br>
			<table class="table cart-items custom-table" style="color: black;">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Cantidad</th>
						<th>Precio Total</th>
						<th></th>
						<th></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="row:${detalle}">
						<td th:text="${row.codigo}"></td>
						<td th:text="${row.nombre}"></td>
						<td th:text="${row.precio}"></td>
						<td>
							<input type="submit" class="btn btn-danger btn-menor" data-action="decrementar" value="-">
							<span th:text="${row.cantidad}" class="cantidad"></span>
							<input type="submit" class="btn btn-danger btn-mayor" data-action="incrementar" value="+">
						</td>
						<td th:text="${row.precioTotal}" class="precioTotal"></td>
						<td><a class="btn btn-danger btn-eliminar"><i class="far fa-trash-alt"></i></a></td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-12 text-left mt-4 d-flex justify-content-between text-white">
				<form th:action="@{grabar}" method="POST">
					<button type="submit" class="btn btn-primary">Comprar</button>
				</form>	
				<button class="btn btn-warning">
					<a th:href="@{/producto/lista}" class="text-white">Ver más productos</a>
				</button>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>

	<script>
		$(document).on("click", ".btn-menor", function () {
			var cantidad = parseInt($(this).parents("td").find("span").text());
			var cantidadElement = $(this).parents("td").find("span");
			var precioTotalElement = $(this).parents("tr").find("td")[4]; // Cambiado a precioTotalElement

			var cod = $(this).parents("tr").find("td")[0].innerHTML;

			if (cantidad > 1) {
				cantidad -= 1;
				cantidadElement.text(cantidad);
				$.get("modificarCantidad?codigo=" + cod + "&cantidadModificada=" + cantidad, function (response) {
					// Usar innerHTML en lugar de text
					precioTotalElement.innerHTML = response.precioTotal;
				});
			}
		});
	</script>
	<script>
		$(document).on("click", ".btn-mayor", function () {
			var cantidad = parseInt($(this).parents("td").find("span").text());
			var cantidadElement = $(this).parents("td").find("span");
			var precioTotalElement = $(this).parents("tr").find("td")[4]; // Cambiado a precioTotalElement

			var cod = $(this).parents("tr").find("td")[0].innerHTML;
			cantidad += 1;
			cantidadElement.text(cantidad);
			$.get("modificarCantidad?codigo=" + cod + "&cantidadModificada=" + cantidad, function (response) {
				// Usar innerHTML en lugar de text
				precioTotalElement.innerHTML = response.precioTotal;
			});

		});
	</script>
	<script>
		$(document).on("click", ".btn-eliminar", function () {
			var cod;

			cod = $(this).parents("tr").find("td")[0].innerHTML;
			alertify.confirm("SISTEMA", "Seguro de eliminar!",
				function () {
					window.location = "http://localhost:8091/producto/eliminar?codigo=" + cod
				},
				function () {
					alertify.error('Cancelado!')
				}).
				set('labels', {ok: 'Si', cancel: 'No'});
		});
	</script>

	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//leer atributo MENSAJE
		let msj = /*[[${MENSAJE}]]*/

			toastr.success(msj, toastr.options = {
				"timeOut": "2000",
				"positionClass ": " toast-top-right ",
			});
	</script>

	<script>
		//asignar evento click a todos los botones con clase "btn-editar"
		$(document).on('click', ".btn-editar", function () {
			//variable
			var cod;
			//almacenar el còdigo del medicamento segun el botòn editar que se seleccionò
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			//funciòn get de JQUERY
			$.get("buscar?codigo=" + cod, function (response) {
				//asignar valores a las cajas usando el atributo "ID"


				$("#idCodigo").val(response.codigo);
				$("#idNombre").val(response.nombre);
				$("#idApellido").val(response.apellido);
				$("#idCargo").val(response.cargo);
				$("#idTelefono").val(response.telefono);
				$("#idCorreo").val(response.correo);
				$("#idSede").val(response.sede.codigo);

			})

		})

		//asignar evento click al botòn con id "btn-cerrar"
		$(document).on("click", "#btn-cerrar", function () {
			//resetear el formulario
			$("#idRegistra").trigger("reset");
			//resetear validacion
			$("#idRegistra").data("bootstrapValidator").resetForm(true);

		})



		$('#tableMedicamentos').DataTable();
		$(function () {
			$('#usr1').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});

		});
		$('#usr1').on('changeDate show', function (e) {
			$('#idRegistra').bootstrapValidator('revalidateField', $('#usr1'));
		});


	</script>
	</script>
	<script th:inline="javascript" th:if="${ERROR != null}">
		// leer atributo ERROR que proviene del controler.
		let error = /*[[${ERROR}]]*/

			toastr.error(error, toastr.options = {
				"timeOut": "2000",
				"positionClass ": " toast-top-right ",
			});

	</script>
	<script type="text/javascript">
		$(document).ready(function () {

			$('#idRegistra').bootstrapValidator({
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {

					nombre: {
						selector: '#idNombre',
						validators: {
							notEmpty: {
								message: 'Ingrese nombre'
							},
							regexp: {
								regexp: /^[a-zA-ZÑñáéíóúÁÉÍÓÚÜü\s]{1,30}$/,
								message: 'Campo nombre debe ser menor a 30 caracteres '
							}
						}
					},
					apellido: {
						selector: '#idApellido',
						validators: {
							notEmpty: {
								message: 'Ingrese apellido'
							},
							regexp: {
								regexp: /^[a-zA-ZÑñáéíóúÁÉÍÓÚÜü\s]{1,30}$/,
								message: 'Campo apellido debe ser menor a 30 caracteres '
							}
						}
					},
					cargo: {
						selector: '#idCargo',
						validators: {
							notEmpty: {
								message: 'Ingrese cargo'
							},
							regexp: {
								regexp: /^[a-zA-ZÑñáéíóúÁÉÍÓÚÜü\s]{1,20}$/,
								message: 'Campo apellido debe ser menor a 20 caracteres '
							}
						}
					},
					telefono: {
						selector: '#idTelefono',
						validators: {
							notEmpty: {
								message: 'Ingrese telefono'
							},
							regexp: {
								regexp: /^[0-9]{7,9}$/,
								message: 'Ingrese un numero de telefono valido'
							},
						}
					},
					correo: {
						selector: '#idCorreo',
						validators: {
							notEmpty: {
								message: 'Ingrese correo'
							},
							regexp: {
								regexp: /(?=.{6,40}$)[0-9a-zA-ZÑñáéíóúÁÉÍÓÚÜü_-]+@[0-9a-zA-ZÑñáéíóúÁÉÍÓÚÜü_-]+\.(com|edu|org)$/,
								message: 'Ingrese un numero de correo valido'
							},
						}
					},
					tipo: {
						selector: '#idTipo',
						validators: {
							notEmpty: {
								message: 'Seleccione tipo medicamento'
							},
						}
					}
				}
			})
		});    
	</script>


</body>

</html>