<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Vehiculo</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{/resources/alertify	js/css/alertify.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 
<link rel="stylesheet" th:href="@{/resources/css/mantenimiento.css}"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
 </head>
 
 <body style="background-color: rgb(218, 218, 218);">
<!-- ============= Home Section =============== -->
<div class="d-flex flex-row ">
    <div th:replace="~{plantilla/UITemplate :: cabecera}"></div>
    <!-- ============= Fin Home Section =============== -->

	<div class="container">
		
			<h3 class="text-start mt-4">LISTA DE VEHICULOS</h3>
			<div class="bg-light container mt-4" style="height: 550px;">
			<div class="btn-nuevo">
			<button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#modalMedicamento" id="btn-nuevo">
			 <i class="far fa-file"></i> Nuevo Vehiculo
			</button>
			</div>
			<div class=" mt-2">
	
				<table class="table table-striped table-bordered mt-5" id="tableMedicamentos">
							  <thead>
							   <tr>
								   	<th>Código</th>
					                <th>Placa</th>
					                <th>Marca</th>
					                <th>Modelo</th>
					                <th>Color</th>
					                <th>Propietario</th>
					                <th></th>
					                <th></th>
					            </tr>
							  </thead>
							  <tbody>
								<tr th:each="row:${vehiculos}">
								  <td th:text="${row.codigo}"></td>
							      <td th:text="${row.placa}"></td>
							      <td th:text="${row.marca}"></td>
							      <td th:text="${row.modelo}"></td>
							      <td th:text="${row.color}"></td>
							      <td th:text="${row.cliente.getNombreCompleto()}"></td>
							      <td><a class="btn btn-info btn-editar" data-toggle="modal" data-target="#modalMedicamento"><i class="far fa-edit"></i></a></td>
							      <td><a class="btn btn-danger btn-eliminar"><i class="far fa-trash-alt"></i></a></td>
							    </tr>  
							  </tbody>
				</table>
			</div>
		
		
			<!-- begin #modal-dialog : MODAL VEHÍCULO -->
<div class="modal fade" id="modalMedicamento" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-blue-darker">
                <h4 class="modal-title text-white">Vehículo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="idRegistra" th:action="@{grabar}">
                    <input type="text" value="0" name="codigo" id="idCodigo" hidden>
                    <div class="form-group">
                        <label for="idPlaca"><b>Placa</b></label>
                        <input type="text" class="form-control" id="idPlaca" placeholder="Ingresar Placa" name="placa">
                    </div>
                    <div class="form-group">
                        <label for="idMarca"><b>Marca</b></label>
                        <input type="text" class="form-control" id="idMarca" placeholder="Ingresar Marca" name="marca">
                    </div>
                    <div class="form-group">
                        <label for="idModelo"><b>Modelo</b></label>
                        <input type="text" class="form-control" id="idModelo" placeholder="Ingresar Modelo" name="modelo">
                    </div>
                    <div class="form-group">
                        <label for="idColor"><b>Color</b></label>
                        <input type="text" class="form-control" id="idColor" placeholder="Ingresar Color" name="color">
                    </div>
                    <div class="form-group">
                        <label for="idCliente"><b>Propietario</b></label>
                        <select class="form-control" id="idCliente" name="cliente">
                             <option value=" ">[Seleccione Propietario]</option>
							 <option th:each="row:${clientes}" 
							 		 th:value="${row.id}"
									 th:text="${row.getNombreCompleto()}"/>
							</select>
                    </div>
                    <div class="col-md-12 text-center mt-4">
                        <button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i> Registrar</button>
                        <button type="button" id="btn-cerrar" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- FIN Modal VEHÍCULO -->
</div>
        </div>

	
	</div>
	
	<!-- index js-->
<script type="text/javascript">
    $(document).ready(function(){
        //jquery for toggle sub menus
        $('.sub-btn').click(function(){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        });

    });
</script>
<script>
		/*asignar evento a los botones con la clase btn-eliminar*/
		$(document).on("click",".btn-eliminar",function(){
			var cod;
    		var $row = $(this).closest("tr");
    		console.log($row); // Verifica la fila seleccionada
    		var $firstCell = $row.find("td:first");
   			 console.log($firstCell); // Verifica la primera celda
    		cod = $firstCell.text();
			alertify.confirm("SISTEMA","Seguro de eliminar!",
	  function(){
			window.location="http://localhost:8091/vehiculo/eliminar?codigo="+cod
	  },
	  function(){ 
		alertify.error('Cancelado!')
	  }).
	  set('labels', {ok:'Si', cancel:'No'});
		})
	</script>
	<!-- fin index js-->
	<script src="https://kit.fontawesome.com/8f3aaeb06e.js" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>


	
	
	<script th:inline="javascript" th:if="${MENSAJE != null}">
		// leer atributo MENSAJE que proviene del controler.
		let msj = /*[[${MENSAJE}]]*/
		
		toastr.success(msj, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
		

	</script>
	
	<script>
		// Asinar evento click a todos los botones cuya clase sea: btn-editar
		$(document).on("click", ".btn-editar", function(){
			let codigo;
			// almacenar el codigo del medicamento segun el boton que se sellecione.			
			codigo = $(this).parents("tr").find("td")[0].innerHTML;
			
			// funcion get de JQUERY
			$.get("buscar?codigo=" + codigo, function(response){ // $.get(nombre del metodo que retorna un valor en formato JSON)
				// asignar valores a las cajas usando e atributo ID
				
				console.log(response);
				$("#idCodigo").val(response.codigo);
				$("#idPlaca").val(response.placa);
				$("#idMarca").val(response.marca);
				$("#idModelo").val(response.modelo);
				$("#idColor").val(response.color);
				$("#idCliente").val(response.cliente.id);
			});				
		})
		
		// asignar evento click al boton con ID "btn_cerrar"
		
		$(document).on("click", "#btn-cerrar", function(){
			// Resetear formulario
			$("#idRegistra").trigger("reset");
			
			// Resetear validaciòn
			$("#idRegistra").data("bootstrapValidator").resetForm(true);
		})		

		$('#tableMedicamentos').DataTable();
		$(function() {
			$('#usr1').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});
	
		});
		$('#usr1').on('changeDate show', function(e) {
		    $('#idRegistra').bootstrapValidator('revalidateField', $('#usr1'));
		});


	</script>
	
	<script type="text/javascript">    
	    $(document).ready(function(){     
	
	        $('#idRegistra').bootstrapValidator({     
	        	feedbackIcons: {
	                valid: 'glyphicon glyphicon-ok',
	                invalid: 'glyphicon glyphicon-remove',
	                validating: 'glyphicon glyphicon-refresh'
	            },
	        	 fields:{
	        		 
	        		 placa: {
	     	    		selector:'#idPlaca',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese placa'    
	                        },
	                        regexp: {    
	                            regexp: /^[0-9A-Z]{3,3}-[0-9A-Z]{3,3}$/,    
	                            message: 'Ingrese una placa valida. Ejemplo: PLA-123'    
	                        }       
	                    }    
	                },   
	                marca: {
	     	    		selector:'#idMarca',       
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese marca'    
	                        }, regexp: {    
	                            regexp: /^[A-Z][a-z]{1,18}$/,    
	                            message: 'Ingrese una marca valida. Ejemplo: Toyota'    
	                        }             
	                    }    
	                },    
	                modelo: {
	     	    		selector:'#idModelo',      
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese stock'    
	                        },
	                        regexp: {    
	                            regexp: /^[A-Za-z0-9]{1,20}$/,    
	                            message: 'Campo modelo no puede ser mayor a 20 caracteres'    
	                        },   
	                    }    
	                },
	                color: {
	     	    		selector:'#idColor',      
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese precio'    
	                        },
	                        regexp: {    
	                            regexp:  /^[A-Z][a-z]{1,10}$/,    
	                            message: 'Campo color no puede ser mayor a 10 caracteres'    
	                        },   
	                    }    
	                },       				
	                Fecha: {
	     	    		selector:'#usr1',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Seleccione fecha '    
	                        },
	                        date: {
	                            format: 'YYYY-MM-DD',
	                            message: 'The format is dd/mm/yyyy'
	                        },
	                    }    
	                },
	                Tipo: {
	     	    		selector:'#idTipo',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Seleccione tipo medicamento'    
	                        },					
	                    }    
	                } 
	        	 }
	        })					
	    });    
	</script>   
	</script>
		<script th:inline="javascript" th:if="${ERROR != null}">
		// leer atributo ERROR que proviene del controler.
		let error = /*[[${ERROR}]]*/
		
		toastr.error(error, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
		
	</script>
</body>
</html>